<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driftstatus</title>
</head>
<body>
<div>
    <a href="/"><img src="/1712893/albertslund-forsyning-logo.png" ></a>
</div>
<div>
    <h1>Her er er info om driftstatus</h1>
</div>
<div>
    <a href = "fjernvarme">Fjernvarme</a>
    <br>
    <a href = "energibesparelser">Energibesparelse</a>
</div>
<div class="container content">




    <div class="row two-column ">

        <div class="xs-12 main-content">

            <div class="row">

                <div class="xs-12">

                    <h1>
                        Driftsstatus
                    </h1>
                    <p class="textpage-teaser">
                        Her finder du aktuel information om driftsforstyrrelser i varmeforsyningen
                    </p>

                    <hr>




                    <!-- Insert default "beforeContent" markup here -->


                    <iframe title="" src="https://dk.sms-service.dk/iFrame/driftstatus-map?customerId=fd02e030-1729-4052-ab17-0747a015e553" style="width:100%; height: 900px" frameborder="0" seamless="seamless"></iframe>
                    <p>&nbsp;</p>
                    <p><strong>SMS-service</strong></p>
                    <p><span>Hvis uheldet skulle være ude og der opstår driftsforstyrrelser i det område, hvor du bor, vil du modtage en sms-besked om dette på din mobiltelefon eller e-mail. Du kan tilmelde dig via linket<span>&nbsp;</span><a data-id="32559" href="/kontakt-os/sms-service/" title="SMS-service">Tilmeld sms-service</a>.</span></p>
                    <p>&nbsp;</p>
                    <p>&nbsp;&nbsp;</p>
                    <p><strong>Kontakt Albertslund Forsyning</strong></p>
                    <p>Vognporten 9<br>2620 Albertslund</p>
                    <p>Tlf: 4368 6888<br>Mail:<span>&nbsp;</span><a href="mailto:info@albforsyning.dk">info@albforsyning.dk</a></p>
                    <p>Telefontider:</p>
                    <table border="0">
                        <tbody>
                        <tr>
                            <td>Mandag - torsdag</td>
                            <td>08.00 - 15.00</td>
                        </tr>
                        <tr>
                            <td>Fredag&nbsp;</td>
                            <td>08.00 - 14.00</td>
                        </tr>
                        </tbody>
                    </table>
                    <p><strong>I akutte situationer uden for normal telefontid kan driftsvagten træffes på 4011 8691</strong></p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>


                    <!-- Insert default "afterContent" markup here -->






                </div>

            </div>

        </div>
        <div class="xs-12 sm-12 md-4 right-content hide">


            <a href="/kontakt-os/sms-service/" target="_self" class="splash primary-bg-dark hidden-print">
                <div class="content">
                    <h3>SMS-service</h3>
                    <hr>
                    <p>Til- eller afmeld dig her</p>
                </div>
            </a><div class="box-item  jsSetBlockHeight  sec-bg-color  hidden-print">
            <h3>Kontakt Albertslund Forsyning</h3>
            <div class="top"></div>
            <p></p><p>Vognporten 9<br>2620 Albertslund</p>
            <p>Tlf: 4368 6888<br>Mail: <a href="mailto:info@albforsyning.dk">info@albforsyning.dk</a></p>
            <p>Telefontider:</p>
            <table border="0" style="width: 301px; height: 44px;">
                <tbody>
                <tr>
                    <td>Mandag - torsdag</td>
                    <td>08.00 - 15.00</td>
                </tr>
                <tr>
                    <td>Fredag&nbsp;</td>
                    <td>08.00 - 14.00</td>
                </tr>
                </tbody>
            </table>
            <p>I akutte situationer uden for normal telefontid kan driftsvagten træffes på 4011 8691</p><p></p>
        </div>

        </div>
    </div>




</div>
</body>
</html>